@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italiana&family=Noto+Sans+JP:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  /* width: 100vw; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

.main {
  margin: 0;
  text-align: center;
  font-family: 'Italiana', serif;
  font-weight: 900;
  letter-spacing: .15rem;
}

/* ------------------------- Navbar ------------------------- */
.nav {
  position: absolute;
  bottom: 89%;
  width: 100%;
  overflow: hidden;
  color: white;
  display: flex;
  height: 120px;
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow: 1px 1px black;
  z-index: 100;
}

.nav-section {
  display: block;
}

.nav-banner-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.nav-list {
  display: inherit;
}

.site-title-container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.site-title {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  width: 500px;
}

.site-title-quote {
  font-weight: 100;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 25px;
}

.nav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  gap: 0 4rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: .25rem; */
}

.nav li:hover,
.nav a.active {
  color: #deeaee;
  text-decoration: overline #bf7474;
}

.nav li.site-title-container:hover {
  color: white;
  text-decoration: none;
}

/* ------------------------- Home ------------------------- */
.home-container {
  margin: auto;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-bottom: 100px; */
  color: #262626;
  background-color: #788989;
}

.svg-container-bottom {
  z-index: 60;
  width: 100%;
  left: 0;
}

.svg-container-bottom svg {
  display: block;
  width: 100%;
  height: 400px; 
}


/* .svg-container {
  position: absolute;
  z-index: 60;
}

.svg-container svg {
  width: 100%;
  height: 670px;
} */

.home-top-container h1 {
  font-size: 55px;
  line-height: 110px;
  display: flex;
  justify-content: center;
}

.home-top-container h5 {
  font-size: 20px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.home-top-container p {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.home-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-left: 20%;
  padding-right: 20%;
}

.material-symbols-outlined {
  line-height: 100px;
  font-size: 65px;
}

.home-list ul {
  margin: 20px;
  line-height: 36px;
  padding: 0;
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.home-list li {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}

/* .home-list p {
  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
} */

.home-booking-container {
  margin-top: 150px;
  width: 100%;
  padding: 150px 25% 150px 25%;
  display: flex;
  flex-grow: 1;
  background-color: whitesmoke;
  color: #262626;
}

.home-booking {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  row-gap: 5rem;
  padding-right: 40px;
  z-index: 1;
}

.home-booking h1 {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  padding-right: 0;
  padding-bottom: 10px;
  font-size: 50px;
}

.home-booking h2 {
  padding-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.home-booking ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.home-booking li {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.home-booking span {
  font-size: 40px;
  padding-right: 20px;
}

.home-booking-images {
  width: 100%;
  display: flex;
  gap: 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.coffee-img {
  position: relative;
  display: flex;
  margin-right: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  height: 450px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 9px 23px 3px rgb(17 20 24 / 40%);
  border-radius: 6px;
  z-index: 1;
}

.fig-img {
  position: relative;
  display: flex;
  margin-left: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  height: 450px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 9px 23px 3px rgb(17 20 24 / 40%);
  border-radius: 6px;
  z-index: 1;
}

.weights-img {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 610px;
  height: 350px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 9px 23px 3px rgb(17 20 24 / 40%);
  border-radius: 6px;
  z-index: 1;
}

/* .mind {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 140%;
  right: 45%;
  text-shadow: 2px 2px black;  
}

.nutrition {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 140%;
  right: 31%;
  text-shadow: 2px 2px black;
}

.body {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 170%;
  right: 39%;
  text-shadow: 2px 2px black;
} */

.btn-cont {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-cont h3 {
  text-transform: uppercase;
  font-size: 18px;
}

.btn {
  font-weight: 700;
  color: #262626;
  border: none;
  padding: 15px;
  background-color: #9DB189;
  border-top: 4px solid #bf7474;
  cursor: pointer;
}

.btn:hover {
  border-top: 4px solid #9DB189;
  background-color: #bf7474;
}

.coaching-info-container {
  /* margin-top: 100px; */
  width: 100%;
  padding: 30px 20% 100px 20%;
  background-color: #bf7474;
  text-align: left;
  display: flex;
  gap: 50px;
}

.svg-coaching-info-container {
  z-index: 60;
  width: 100%;
  left: 0;
}

.svg-coaching-info-container-top svg {
  display: block;
  width: 100%;
  height: 400px;
}

.svg-coaching-info-container-bottom svg {
  display: block;
  width: 100%;
  height: 400px; 
}

.coaching-info-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #262626;
  gap: 100px;
}

.coaching-info-list ul {
  margin: 0;
  list-style-type: none;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.info-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: unset;
}

.info-top h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  /* width: 700px; */
  padding-bottom: 30px;
}

.info-top p {
  font-size: 18px;
  line-height: 36px;
  /* width: 300px; */
}

.svg-icon {
  width: 100%;
  margin: 0;
  font-size: 40px;
  padding-bottom: 20px;
  display: flex;
}

.introduction-container {
  margin-top: 100px ;
  position: relative;
  width: 100%;
  padding: 150px 25% 150px 25%;
  background-color: whitesmoke;
  text-align: start;
  display: flex;
  gap: 50px;
  z-index: 1;
  color: #262626;
}

.introduction-container:before {
  content: '';
  position: absolute;
  width: 48%;
  min-height: 65%;
  margin: auto;
  z-index: -1;
  right: 25%;
  bottom: 23%;
  background-color: #f7ddbb;
  /* background-color: #75816b; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 36px;
}

.intro-text h2 {
  font-family: 'Dancing Script', cursive;
  display: inherit;
  padding-bottom: 10px;
}

.intro-img {
  width: 400px;
  max-height: 585px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
}

/* ------------------------- Testimonials ------------------------- */
.testimonial-container {
  position: relative;
  width: 100%; 
  padding: 150px 0 150px 0;
}

.testimonial-container::before {
  content: '';
  position: absolute;
  width: 80%;
  min-height: 65%;
  margin: auto;
  right: 10%;
  bottom: 8%;
  background-color: rgb(36, 36, 36);
}

.testimonial-image-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  
}

.testimonial-image-container img {
  width: 100%;
  height: 900px;
  /* object-fit: cover; */
  opacity: .6;
  filter: grayscale(85%);
}

.testimonial-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 20px;
  color: white;
  /* background-color: whitesmoke; */
  z-index: 60;
}

.testimonial-text h1 {
  color: white;
  text-shadow: 1px 1px black;
  z-index: 70;
}

.underline {
  width: 50%;
  padding-top: 20px;
  border-bottom: 2px solid #bf7474;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
}

.testimonials-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 120px;
  background-color: whitesmoke;
  z-index: 70;
}

/* .testimonials-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  transform: scale(2) translateY(20px);
} */

.testimonial {
  width: 15%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  line-height: 36px;
  color: white;
  text-shadow: 1px 1px black;
  z-index: 80;
  /* background-color: #f7ddbb;
  opacity: .4; */
}

.testimonial p {
  text-align: left;
  z-index: 70;
  color: white;
  text-shadow: 1px 1px black;
}

/* ------------------------- Footer ------------------------- */
.footer-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 50px 0;
  background-color: #817889;
}

.footer-container p {
  margin-left: 100px;
  width: 100%;
  display: inherit;
  justify-content: flex-start;
  color: #262626;
}

.contact-info-div {
  width: 100%;
  display: inherit;
  justify-content: center;
  gap: 30px;
}

.contact-info {
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: #262626;
}

.contact-info:hover {
  transform: translateY(10px);
  color: #deeaee;
}

.contact-info svg {
  padding: 5px 2px 5px 0;
}

.disclosure {
  width: 100%;
  display: inherit;
  justify-content: flex-end;
  margin-right: 100px;
  text-decoration: none;
  color: #262626;
}

.disclosure:hover {
  cursor: pointer;
  color: #deeaee;
}